<%- include('partials/header.ejs') %>
    <%- include('partials/noauthnav.ejs') %>
        <!-- custom style for sign in component -->
        <link rel="stylesheet" href="/style/index.css" />
        <main class="h-100">

            <div class="cover-container w-100 h-100 mx-auto">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-9 col-xl-10 d-flex align-items-center">
                        <div>
                            <!-- <img src="/Charco/Illustrations/Coming_soon.png" class="img-fluid" alt="Sample image"> -->
                            <img src="img/Absurd-Illustrations/PNG/07.png" class="img-fluid" alt="Sample image">
                        </div>
                    </div>
                </div>

                <div class="row mt-5">

                    <h1 class="display-6 text-center mb-5">Coming Soon</h1>
                    <p class="lead">Defined as <em>"sober curious"</em></p>
                    <p class="mb-5">it is the option to choose, to question, or
                        to change your drinking habits for health-focused reasons (mental and/or physical).
                        The sober curious movement has encouraged individuals to recognize the often-unhealthy habits
                        that are associated with alcohol. </p>

                    <!-- <p class="lead">
                        <a data-target="#about"
                            class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
                    </p> -->
                </div>
            </div>
        </main>

        <%- include('partials/footer.ejs') %>d